allow { platform_app priv_app untrusted_app } system_app_data_file:dir getattr;

get_prop({ appdomain bluetooth mediaprovider radio system_server untrusted_app_all },property_type)

