allow {
 audioserver
 cameraserver
 hal_drm_widevine
 hal_graphics_composer_default
 hal_sensors_default
 surfaceflinger
} crash_dump:process noatsecure;

allow dumpstate self:capability sys_admin;
allow dumpstate sysfs:file { getattr open read };

allow dumpstate { adsprpcd_file bt_firmware_file firmware_file }:filesystem getattr;
allow dumpstate { hal_imsrtp_hwservice hal_telephony_hwservice hal_wifi_supplicant_hwservice }:hwservice_manager find;
allow dumpstate mnt_vendor_file:dir search;

allow { hal_graphics_allocator_default hal_vibrator_default hwservicemanager } dumpstate:fd use;
allow { hal_graphics_allocator_default hal_vibrator_default hwservicemanager } dumpstate:unix_stream_socket { read write };

#allow dumpstate { hal_wifi_supplicant_default rild }:binder call;
