#============= netmgrd ==============
allow netmgrd netutils_wrapper:process noatsecure;

#============= platform_app ==============
allow platform_app bg_boot_complete_prop:file read;
allow platform_app bg_daemon_prop:file read;

#============= priv_app ==============
allow priv_app bg_boot_complete_prop:file read;
allow priv_app bg_daemon_prop:file read;
allow priv_app boottime_prop:file read;
allow priv_app cnd_vendor_prop:file read;
allow priv_app console_silent_prop:file read;
allow priv_app proc:file read;
allow priv_app proc_modules:file read;
allow priv_app sysfs_android_usb:file read;

#============= su ==============
allow su devpts:chr_file open;
allow su functionfs:file ioctl;
allow su kernel:security read_policy;
#allow su magisk:unix_stream_socket connectto;
#allow su self:capability dac_override;
allow su selinuxfs:file { open read };
#============= su ==============
allow su device_logging_prop:file { getattr open read };
#allow su shell_data_file:dir { search write };

#============= untrusted_app ==============
allow untrusted_app bg_boot_complete_prop:file read;
allow untrusted_app bg_daemon_prop:file read;
allow untrusted_app boottime_prop:file read;
allow untrusted_app cnd_vendor_prop:file read;
allow untrusted_app untrusted_app_27:unix_stream_socket connectto;

#============= untrusted_app_27 ==============
allow untrusted_app_27 bg_boot_complete_prop:file read;
allow untrusted_app_27 bg_daemon_prop:file read;
allow untrusted_app_27 boottime_prop:file read;
allow untrusted_app_27 cnd_vendor_prop:file read;
allow untrusted_app_27 console_silent_prop:file read;

#============= webview_zygote ==============
allow webview_zygote theme_data_file:dir search;

#============= bluetooth ==============
allow bluetooth adbtcp_prop:file read;
allow bluetooth bg_boot_complete_prop:file read;

#============= dataservice_app ==============
allow dataservice_app adbtcp_prop:file read;
allow dataservice_app bg_boot_complete_prop:file read;
allow dataservice_app bg_daemon_prop:file read;
allow dataservice_app runtime_event_log_tags_file:file read;

#============= dex2oat ==============
allow dex2oat runtime_event_log_tags_file:file read;

#============= dpmd ==============
allow dpmd netutils_wrapper:process noatsecure;

#============= hal_health_default ==============
allow hal_health_default mnt_vendor_file:dir search;

#============= hal_wifi_default ==============
allow hal_wifi_default kernel:system module_request;
