allow kernel kcal_dev:{ dir file lnk_file } relabelto;
allow kernel tmpfs:dir search;
r_dir_file(kernel, firmware_file)
allow kernel self:capability { dac_override dac_read_search };
allow kernel init:process noatsecure;
allow kernel self:security setenforce;
