allow netd self:capability { sys_admin sys_module };
allow netd kernel:system module_request;
allow netd dnsmasq:process noatsecure;
allow netd untrusted_app_25:unix_stream_socket { read write };
