allow netmgrd sysfs:file {open read};
allow netmgrd kernel:system module_request;
set_prop(netmgrd, vendor_xlat_prop)
set_prop(netmgrd, system_prop);
