#============= su ==============
allow su devpts:chr_file open;
allow su functionfs:file ioctl;
allow su kernel:security read_policy;
allow su selinuxfs:file { open read };
allow su device_logging_prop:file { getattr open read };
allow su ffs_prop:property_service set;
allow su functionfs:file { open read write };
allow su { init dumpstate }:unix_stream_socket connectto;
allow su kernel:system syslog_read;
allow su kmsg_device:chr_file { open read };
allow su { property_socket dumpstate_socket }:sock_file write;
allow su self:capability { dac_override sys_rawio };
allow su shell_data_file:dir { getattr search write };
allow su block_device:blk_file read;
allow su labeledfs:filesystem remount;
allow su system_block_device:blk_file { ioctl open read };
allow su vendor_file:dir { add_name write };
allow su vendor_file:file { create setattr write };
